#container {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

canvas {
	background-image: url("../resources/background.jpg");
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px double rgba(90,165,62,0.5);
    border-radius: 30px;
}